.customer-container{
    display:flex;
    flex-direction: row;
    margin-top: 5em;
}
.customer-card {
    width: 40%;
}
.account-card {
    width: 50%;
}
.customer-nav-bar {
    background-color: grey;
}