@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');


body{
    background-color: rgb(129, 194, 151);
    margin:0;
    padding: 0;
} 
.sign-in-form{
    height: 100vh;
    width:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-title{
    text-align: center;
    margin-bottom: 2em;
    font-family: 'Catamaran', sans-serif;
}
.form-sign-in{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30em;
    /* border: 2px solid black; */
}
input{
    text-align: center;
    font-size: 1.5em;
    border: 2px solid black;
    padding: .5em;
}
.sign-in-button{
    margin-top: 3em;
    height: 2.5em;
    border: 2px solid black;
} 
