.nav-bar{
    background-color:grey;
    display: flex;
    justify-content: flex-end;
    height: 4.75em;
}

.link{
    border: 2px solid black;
}
.customer-nav-bar {
    background-color:grey;
    display: flex;
    justify-content: flex-end;
    height: 4.75em;
}
